<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'loginandregistration/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'loginandregistration/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'loginandregistration/css/styles.css' %}">
</head>
<body>

	<!-- Header -->
	<div class="header">
		<div class="menu">
			<ul class="nav nav-pills">
				<li role="presentation"><h3>Test App</h3></li>
				<li role="presentation"><a href="/">Home</a></li>
				<li role="presentation"><a href="/dashboard">Dashboard</a></li>
				<li role="presentation"><a href="/users/edit">Edit Profile</a></li>
				{% if 'id' not in request.session %}
					<li role="presentation" class="move-right"><a href="{% url 'my_signin' %}">Sign In</a></li>
				{% else %}
					<li role="presentation" class="move-right"><a href="{% url 'my_logoff' %}">Log off</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<!-- End of Header -->

	<!-- Content -->
	{% block content %}
	{% endblock %}
	<!-- End of Content -->
</body>
</html>