{% extends "base.html" %}
{% block title %}Dashboard Home{% endblock %}
{% block content %}
	<div class="body row">
		<div class="hero-unit welcome col-sm-12">
  			<h1>Welcome to the Test</h1>
  			<p>We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
  			<a class="btn btn-primary btn-large" href="{% url 'my_register' %}">Start</a>
  		</div>
  		<div>
  			<div class="row-fluid">
  				<div class="col-sm-4">
	  				<h3>Manage Users</h3>
	  				<p>Using this applicatoin, you'll leanr how to add, remove, and edit surs for the application.</p>
	  			</div>
	  			<div class="col-sm-4">
	  				<h3>Leave Messages</h3>
	  				<p>Users will be able to leave a message to another user using this application</p>
	  			</div>
	  			<div class="col-sm-4">
	  				<h3>Edit User Information</h3>
	  				<p>Admins will be able to edit another suer's information (email address, first name, last name, etc.)</p>
	  			</div>
	  		</div>
		</div>
	</div>
{% endblock %}